@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
	font-family: sans-serif;
}

.btn, input, select, textarea {
	border-radius: 2px!important;
}

.btn {
	font-size: 14px;
}

.btn-primary {
	background-color: #7088ec!important;
	border-color: #7088ec!important;
	&:hover {
		background-color: #6881ec!important;
		border-color: #6881ec!important;
	}
}

tr {
	th {
		&:first-of-type {
			min-width: 88px;
			max-width: 88px;
			width: 88px;
		}
	}
}

td {
	> .btn {
		background-color: transparent!important;
		border: 0;
		color: #333;
		font-size: 22px;

		&:hover {
			background-color: transparent!important;
			border: 0;
			color: #7088ec;
		}
	}
}

a {
	color: #7088ec;
	text-decoration: none;

	&:hover {
		color: #6881ec;
		text-decoration: underline;
	}
}
.btn-secondary {
	background-color: #139dff!important;
	border-color: #139dff!important;
	&:hover {
		background-color: #1289df!important;
		border-color: #1289df!important;
	}
}


.btn-danger {
	background-color: #e34a58!important;
	border-color: #e34a58!important;
	&:hover {
		background-color: #b83a45!important;
		border-color: #b83a45!important;
	}
}


.btn-success {
	background-color: #67ce7e!important;
	border-color: #67ce7e!important;
	&:hover {
		background-color: #54af68!important;
		border-color: #54af68!important;
	}
}


.btn-warning {
	background-color: #ffd968!important;
	border-color: #ffd968!important;
	&:hover {
		background-color: #ecc961!important;
		border-color: #ecc961!important;
	}
}

.table {
	border: 1px solid #eee;
	
	td, th {
		vertical-align: middle!important;
		width: 0;
	}
}


.close-button {
	border-radius: 4px;
	border: 0;
	background: #e34a58;
	font-weight: bold;
	transition: .3s;
	color: #fff;
	padding: 3px 10px;

	&:hover {
		background: #b83a45;
	}
}

.top-page {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.top-page-title {
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.section-title {
	font-size: 22px;
	margin-bottom: .75em;
	font-weight: bold;
}

.table {
	th {
		font-size: 16px!important;
	}

	td {
		font-size: 14px!important;
	}
}

input[type=checkbox] {
	transform: scale(1.2);
}

.form-error-input {
	border: 1px solid #f00!important;
}

.margin-40 {
	margin-bottom: 40px!important;
}

.wrapper-logs {
	max-height: 500px;
	overflow-y: auto;
}

// comments area
.list-comments {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		max-height: 300px;
		overflow-y: auto;

		.comment-item {
			background: #eee;
			border-radius: 8px;
			padding: 10px;
			margin-bottom: 10px;

			.comment-author {
				margin-bottom: 0;
				font-weight: bold;
				font-size: 14px;
				margin-bottom: 5px;;
			}

			.comment-text {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
}

.red {
	background: #e66161;

	.btn {
		border: 1px solid #eee!important
	}
}

.green {
	background: #6dc96d;

	.btn {
		border: 1px solid #eee!important
	}
}

.orange {
	background: #ff8051;
}

tbody.practice-list > tr:not(.green):not(.red):not(.orange) {
	background: rgba(0, 0, 0, 0.05)!important;
}

thead {
	th {
		color: #333!important;
		border-bottom: 1px solid #aaa!important;
		border-color: #aaa!important;
	}
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.container-invoice {
	width: 100%;

	hr {
		margin: 1.5em 0;
	}

	display: flex;
	flex-direction: column;

	h4 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 1em;
	}

	.invoice-middle {
		h3 {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		p {
			font-size: 12px;
			margin-bottom: 2px;
		}

	}

	table {
		width: 100%;

		th {
			font-weight: bold!important;
		}
		
		th, td {
			font-size: 12px!important;
			font-weight: normal!important;
			padding: 5px 10px;
		}
	}

	.invoice-header {
		border: 1px solid #f00;
		padding: 10px;
	
		h1 {
			font-size: 20px;
			margin-bottom: 0.5em;
			font-weight: bold;
		}
	
		h2 {
			font-size: 18px;
		}
	
		p {
			font-size: 12px;
			margin: 0;
		}
	}

	.invoice-summary {
		display: flex;
		flex-direction: column;

		h4 {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		p {
			font-size: 12px;
			margin-bottom: 2px;
		}

		.table-container {
			margin-top: auto;
			margin-left: auto;
			width: 50%;

			table {
				width: 100%;

				th {
					font-weight: bold!important;
				}
				
				th, td {
					font-size: 12px!important;
					padding: 5px!important;
				}
			}
		}
	}
	
}

.sidebar {
	width: 250px;
  flex: 0 250px;
  background: #8194e4;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
  color: #fff;

  h2 {
    font-size: 24px;
		padding: 20px;
		font-weight: bold;
  }

  h4 {
    font-size: 14px;
    margin-top: 25px
  }

  hr {
    border-bottom: 1px solid #ddd;
  }

  a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #eee;
    text-decoration: none;
	  font-size: 14px;
	  border-radius: 4px;
    display: flex;
    align-items: center;
    transition: .3s ease;

    &:hover {
      color: #fff;
    }

    svg {
      width: 24px;
      margin-right: 10px
    }
  }
}

.wrapper-main {
	width: calc(100% - 250px);
	flex: 0 calc(100% - 250px);
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 20px;
	overflow: auto;
}